
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Costume Drama</h1>
      <p class="lead text-muted">Make an entrance. Command attention. Your pet will be the star of the show in one of our exclusive ensembles.</p>
      <p>
        <a href="/products" class="btn btn-primary my-2">All costumes</a>
</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <img class="card-img-top" src="https://lh3.googleusercontent.com/UJCP-uvQY_PxsuTRZy6-KrXxTByXQYc4QKevIvvF6yPGLXbYZBei2aUdN4gtF2GtcfFIu4ZWUedPB6CrXVZS7mYcwEkKJSvASA578m8SIB9pxjGwqgtpFcEIKi56gaC-lpajyWl5HpPPXBzD6qxJclbjII5gGxVJq1FgA6P66rmqgNG3xEB61IF1Y0cmCL7z2kLncDgIg7E4hssGnqP1wClSB0U4iZME5uKqtyKu-ziqEwQEOzyAav5E8pNVQ9pe-xfr-ZIu1rwRBWGrIAtvHtbdpju99M6jxNHNsWHpzNHcl7mIbDaDFqSoz8HRKV2e8wgVUsZGBceuKrJjHv-FwAyhuqGDESLuCaBHYYUZzOfXTV_jpzweUwpQ_CMPlUGt__8PIeG2NbHagg3jBeTmIQiozAkS3UJUf2bxZTy34VJo1HDOxabb6aI_DirmB0hCV4z3XWr-qc5vnicVQzd1o-2VFSxx7-wdnFsXlP4ZRx0bjW1MYoPw5AVXesClC2G-J4TpBYm3fK8OqQcVY3OtbBxgb8XMk-ZaaG5MbCEZqupS43uYNyvSsJiI2sq3282PsZksuqoav3o6arVIosvphrkB7KuZcBVBTO-LctVKqCQ7lJ9b7VZMvt9fqpFdP5HLavCnINvfDNz9r21ZIHQWp1xA3nM2tiLzMKZHIejJZ_j1jgzd_JIjut62yeeSbQ719_tQJLRKTiX-CcHSZe3bgA4fWL2Blhc-pkfg5i3JwzKPrn4=s1468-no" alt="pug with wire-rim glasses and chunky scarf">
            <div class="card-body">
              <h5 class="card-title">Best Seller: Grandpaw</h5>
              <p class="card-text">What dog wouldn't look adorable in a set of dog-friendly wire-rim glasses and a snuggly wool scarf? Our Grandpaw costume is a surefire crowd pleasure and your pup will love it too.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/products/9" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
               <img class="card-img-top" src="https://lh3.googleusercontent.com/FdSMpqKqx2XXSdo7UKe8BXckSYUD3lDcxAThUNPcAv3JLKTo9p8PJ8cwlg0BNUwj9vo7467EFVmGEfLEyJ1XSgDM5WYi2lODfhQ-ypWpZHfjOcDyQH3GJTznxAn4H4HN_qWDAUaoEeukzCcoCZfDHBVX7RQfNiPP86yVpWssO39SMymEJk2n28y1SILZnMaBVzqjrQfChUm8WoXFxL-nQWQLhyHIVfS5De4poS8egoploQ2TFsPc1o7DkZ6CWJ3viPCL6QXLAp9jlDX31PhDs_q4zCWxarO7jKWQ-WHtGUoCUa-eIiqU_9SRodyatJVPC6_DI9fKkb98lObHZo_uyTlWCqlsfv4WwRVzyO-EBS9SXPU_wo_A68z0Vtkc2Xak7uH2XtHHdiz9j_29ACsjC2vModeqmB5bsofiYGO_VCErhm4JOZfZCoq8RRuqJoiia20lju1V3IK-JeymIVvPWBng_LYC2MzOFNKQLKhQTsqJW6x-P6NirFUIElQMJevgZAbte5vk2I7o5KYl2Q5uSzGo045JvgyiMgzyiO9Mbcf8fgBY9MA_mKkng0jzfzsiKtE8O0K6voQY6g5f9BJtX9g8RKljBsizhrCTDXULY42Cs7ct8_zt6SihBn32EeCx8yO5frZQYoxDkV396DNFthmpHjGVJY2Y6JnZI1x-WktxVgTzFzUt5sQt-P6Ux6x6hR6OebJQ8VvnHl5W_JGvmfxXJ8bZp3FcK3MTDw_QuyxEfpI=s420-no" alt="kitten wearing Princess Leia wig made of yarn">
            <div class="card-body">
              <h5 class="card-title">Cat Costumes</h5>
              <p class="card-text">Our cat costumes are imbued with a proprietary blend of phermones that make even the finickiest kitty enjoy wearing them. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <a href="/categories/1" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
              <img class="card-img-top" src="https://lh3.googleusercontent.com/1vSLzjSJCBNVKaT-rXRBUh8qHlVnNiRILvf2CDL6rNj6k-CAeGFX0uub5dMg1KX-5CLLB9oDwZ9iiBrNbfHYvLfmu4dP_3BJQfMfnAG-AKTFXSukz5uc13SmIwyVNi-QXlFId-KpWgTz-9znm_mPH5UWS6HQKWXfUfnmZY8VkKDcpd8Scc-9DOZ5DUZ_t7Nk_oFFO93SEyfvIWOpAKGgZ5owxpIqtMN7UApvry3heLvh6yv1zsR01pGfWSldWW3S2yR8EcKOMmLUnCfkJ59i_3w-saKiue4moIHBJI7jqH10t2V2yQjdPnecljB13WMAGmXRtfTsuH-e_fBJbe9zIP_DmikxXsSWw-r6iYom8tJ7Pr4FEdg52zjeSCPhfATEVd_H_HYFCkdkYM3_nS_nQkX3p90MzneHWzdeAjBcGz23qV1v-WXGkBPSfW32A1JarNCmLZk16F-lv4_0z9m3NmhKD2VTJ3hGSDaEY4ibXzBdMur-vzmLJ42LdzbIM-cQpETmLeypMga7N0LoW4y_k6ULYmpHQWErKvp9dWMVKGJEfzOWPxWGjqwcoeL2SjF-KmHP9RawiZLWx9i8ITr4D25IMz5pOakjeDTDi_d0RvvKDSd1AXVnUswvaYj13labBHruRqrNWKWnYa_tDbQlxtjLY4gR9KaUJ89lOqaSuOofyHa-5w0cyDM6WlAvbwPJeMLbF8e15RA96vIvaRacpcFI9jIP1JO1Nyvlovf9RKt7lpE=s1572-no" alt="Large yellow dog wearing lion's mane">
            <div class="card-body">
            <h5 class="card-title">Dog Costumes</h5>
              <p class="card-text">Dogs always look great in costume. Choose from a wide selection of canine-friendly options that pups and people will both enjoy.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <a href="/categories/2" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
                 <img class="card-img-top" src="https://lh3.googleusercontent.com/Q8GWn5xvHpc6OI54BcJE0Vigz0tdSMymOZc9aRQIdy_TIshfxZRRwhi_8eVpRbbCKbtD75WHzFbkJ6pWkmb5DlTSUrdnubf9WEpw_uXA9F9hQgFYOVx1vncFXbODh1uS0-kiUiJmNGEh8Rn7w5HAp9BTxebJfrk0v1oGcLA0-zgBwZkavzzrJwqAZiQpoMNzuA6I_CM25kHZTOl9zapAJUIn7QB_abtkhB8DgTdIHvVmNgxuV8v3LEKLTpW_BP7-daCwUQGDn5cUD-Xp2V7iQyrKcdqF6NewE0OnJsthb5lOKcZfTFR40PGY2C2_ws0R3e344KhP_LfnU7B1yo3cYZ4EmTIrrWK62BmzHsoffSuoL063wiM8AaYaCZeb20DqEY6bA8LugJGF8vHYSgYTMjlc4WwQm3n2GozidjS5WUnsBDc-R_LYGC3fofPluWDiWNw7oQVtViaNejXHXdLg_CW9vEe05fygs5-ggDChYBW0ncCN0ye_n_ehF0T8Kgv3023t7lfhlfMt_3v7SD7p0KAO6H4SdiPFXTZJQWHbkkktjCaCuWL3pw0rSI1_olCYaxr1eqVKr1ugE-SlMj6QLN79MAUid6MYoZtsqgMcrfTLNAjqbRwrJ87cTZPkYxgc3BoX-yL_uJSEpXuMFbpDe2r78m_46vq8q9GjPA_L2KAALQfvo_OJfRUWgypDo1py9zzohZV_bRr5Eyx2_dX8u5jgJTPclvy9CGLDjG5RWV77rhM=s1468-no" alt="Llama wearing rainbow wig, multi-color polka dot bowtie, and red-and-white striped leg warmers">
            <div class="card-body">
            <h5 class="card-title">Llama Costumes</h5>
              <p class="card-text">Our extensive market research showed that llamas a highly underserved clothing market, so we are giving the people what they want: fabulous llama costumes!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/categories/3" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
                 <img class="card-img-top" src="https://lh3.googleusercontent.com/Q5hFC5txhJpAQreMT171Vv6HwqtdXNt35vPeB5hqZNwgskgnrDQhr04ldxyNAab7lrk_LKx2L4WufQ9-VqE9LyyY0-V-MxPO1ke7mM8jZhluQ41CYyz1CpKHUOkgw50ybIX7SmP_p3cWEMO0f5swpmSSIXM26NInSSEO8IsRyzdcDuYwuOvIt_R73ka_plHzYDWkUrwoOEcvZf-zsCRkPLg_JLHkI8GXTFy-dO3SOKRmgxrXppeJwiM103YsgjxUth1WxZvgMWCzpe64V1wQKl3Tub5C_JSu5Siqo84lQRAsypTrKy_Q7pxGxjCCH0iiFTr1tlCRDh138mXrka3PpYNh3Vwp00fFSDvRYu-c4PhH2CEybEeri0v-t38iw47Uk0xafSTGnHmpE7Ajwz1aHqS_f_15nFRNsFXBdmUL-R6ZKegqCwViFRBK5Y4dZjvfepauKsAv_Tzcp8otpPquaUbLmS-Wr8OZlbROPDzCwU3rI-qoYEl3F4Hec8RTjJKgNe9J1HifxcLU5-T8S_1Fji_6aVb1AwqwkrK8IcApmpitawKny15ts7V1ybfcw1n7J0RGV42FL0SkP6OVTilpLql1yfmwnqQIzz71x5GhHZGMKrftSS8F-3vCJakO1dwC21h88ngrEgItAJdfhiKvurdQO2jnZo3o6jnhD1C210e3wKmo3eY-r-FDi1SGlV1kL23Q6ZaGETWvOQziljeqRCd99F0dbRu8FoA6-PJ5PfOkdHo=s1314-no" alt="cat in a green hood with fangs at the top">
            <div class="card-body">
            <h5 class="card-title">Highly Rated: Chupacatbra</h5>
              <p class="card-text">What do you get when you cross the goat-sucking Puerto Rican creature of myth with a cuddly costume? Our legendary chupacatbra!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a href="/products/8" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
