
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Costume Drama</h1>
      <p class="lead text-muted">Make an entrance. Command attention. Your pet will be the star of the show in one of our exclusive ensembles.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">All costumes</a>
        <a href="#" class="btn btn-secondary my-2">Browse by category</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <img class="card-img-top" src="https://lh3.googleusercontent.com/XdDlEYzBw6FMIXKWBPnucB0wnJcqBHAAPOSbvIYSw285liNZz2_2As5SKWGA-HPBbD-erK9DxZHQjrXSOBFLEW7nBOeZTTPib4sp03AFDZhG59xjfb9hISxnuxTbk8asnNR00WgNIVEYAmkm9bRbwORiHZBZsR94elv1HF6AqSC1e8lpjsaEf8tcFK78O2KKQvGKeQXzODKDHg2QdvGXEa6W76TAfO9i8RQOEqd3cVjKwfPgTFEcfCtUkNQU6bVduoj1TXxBrNMVOb9hnp90l-aGVmmrVqiwORIv8RxCYnekzK8c8ldFM-kX5n8f7HS2tPmqnNQoTi5fpEOL7stGDPOPccpjs3XzzKBFIFA-rUgGdO1L_U4Znwe1T_Fq5Zs0pyDMiX2e1uUt82tqns_xXgOx0UbrVNuo2pSPJNBy_dxB9cwxtKf8xeJ09sMqDypI7aUHviMrq8F4-XVsJOXokyiEMia_cuV2fh0YZULmfTlH6ucAqe80HWeQSLQ5DFaXbGTNa1Sb9MbOd7h30BDe0GOQwArbWktqz3Nh5VZZkOmxkb6RyG7stzDOCbfSydUZGFWWyedjVk6U3aYJZxouxkPpXJNBMpxMbK5BCGmF0WRv3k2VaT1ZndZOZtCtAIlBtR8AcxwBzgUDRQ6CfqXKbpgxTtVRQHHmj_QXyNLwxgNGYo4WAdQ_KA=s1668-no" alt="dog with wire-rim glasses and chunky scarf">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
               <img class="card-img-top" src="https://lh3.googleusercontent.com/XdDlEYzBw6FMIXKWBPnucB0wnJcqBHAAPOSbvIYSw285liNZz2_2As5SKWGA-HPBbD-erK9DxZHQjrXSOBFLEW7nBOeZTTPib4sp03AFDZhG59xjfb9hISxnuxTbk8asnNR00WgNIVEYAmkm9bRbwORiHZBZsR94elv1HF6AqSC1e8lpjsaEf8tcFK78O2KKQvGKeQXzODKDHg2QdvGXEa6W76TAfO9i8RQOEqd3cVjKwfPgTFEcfCtUkNQU6bVduoj1TXxBrNMVOb9hnp90l-aGVmmrVqiwORIv8RxCYnekzK8c8ldFM-kX5n8f7HS2tPmqnNQoTi5fpEOL7stGDPOPccpjs3XzzKBFIFA-rUgGdO1L_U4Znwe1T_Fq5Zs0pyDMiX2e1uUt82tqns_xXgOx0UbrVNuo2pSPJNBy_dxB9cwxtKf8xeJ09sMqDypI7aUHviMrq8F4-XVsJOXokyiEMia_cuV2fh0YZULmfTlH6ucAqe80HWeQSLQ5DFaXbGTNa1Sb9MbOd7h30BDe0GOQwArbWktqz3Nh5VZZkOmxkb6RyG7stzDOCbfSydUZGFWWyedjVk6U3aYJZxouxkPpXJNBMpxMbK5BCGmF0WRv3k2VaT1ZndZOZtCtAIlBtR8AcxwBzgUDRQ6CfqXKbpgxTtVRQHHmj_QXyNLwxgNGYo4WAdQ_KA=s1668-no" alt="dog with wire-rim glasses and chunky scarf">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
              <img class="card-img-top" src="https://lh3.googleusercontent.com/86YKxdwIKze5SPA7-sWrbDOvWZCtScjpE16NLa15znf_scTHvSGwX8Wi7K2hiwrVFVN7X_mOFT-HJaRoQKNyG7iFTfNUUFBGuPMlUA_49l20yAlHBdcVTatv7Tz_3S1oEXiMqNI9pDBY3neV4jTbuyH9w6OwNosOPwCGB_hNzT3lvBPjOp9DsP8BonXeZoAxLOxiZVER1aBhGacmvyt9lf74SROQxVZP936WladzyMQlQqbuKj52NV0S63rkFLoauPrN-RYD8ajOx_RqElI1HkX7qp5dfY2747neq9y9s9y7Zjva72rXIKi8Irku4-jIMOGjIDe5tdIvI4BRt2IV27CtHurTc4zYYfaWUINRvYV5gpMQqmpHJ6_L9gOdI7KBhBglklTtwSvQ9tvsxsS1IxHCWH2GBwmm-SWJpC01cbpGebA_ka5oIOsL5kgHalvYEihySnt1TGWJVzB5y9LYIi0r3Q3ZH7Zpzqc2tr6dCw04zfXnzxUiufwbOezPwpA0OmrwoupZqA67oTQssY9vL_gBNWsjAfW_4f9qSe39saGs-A-Q23GEl-9IrkKbQtj4ViSHuWEO9UAl2jFeK8d5YybbnlbDaVmEtkCuSjR7hzzIzqQR3xh_940Pn-qdwDtNhU_XS8TLtqshZaIO97qfRITVrGwF007yOM-bVz5u2gC2TfcJrQdB7Q=s596-no" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
                 <img class="card-img-top" src="https://lh3.googleusercontent.com/XdDlEYzBw6FMIXKWBPnucB0wnJcqBHAAPOSbvIYSw285liNZz2_2As5SKWGA-HPBbD-erK9DxZHQjrXSOBFLEW7nBOeZTTPib4sp03AFDZhG59xjfb9hISxnuxTbk8asnNR00WgNIVEYAmkm9bRbwORiHZBZsR94elv1HF6AqSC1e8lpjsaEf8tcFK78O2KKQvGKeQXzODKDHg2QdvGXEa6W76TAfO9i8RQOEqd3cVjKwfPgTFEcfCtUkNQU6bVduoj1TXxBrNMVOb9hnp90l-aGVmmrVqiwORIv8RxCYnekzK8c8ldFM-kX5n8f7HS2tPmqnNQoTi5fpEOL7stGDPOPccpjs3XzzKBFIFA-rUgGdO1L_U4Znwe1T_Fq5Zs0pyDMiX2e1uUt82tqns_xXgOx0UbrVNuo2pSPJNBy_dxB9cwxtKf8xeJ09sMqDypI7aUHviMrq8F4-XVsJOXokyiEMia_cuV2fh0YZULmfTlH6ucAqe80HWeQSLQ5DFaXbGTNa1Sb9MbOd7h30BDe0GOQwArbWktqz3Nh5VZZkOmxkb6RyG7stzDOCbfSydUZGFWWyedjVk6U3aYJZxouxkPpXJNBMpxMbK5BCGmF0WRv3k2VaT1ZndZOZtCtAIlBtR8AcxwBzgUDRQ6CfqXKbpgxTtVRQHHmj_QXyNLwxgNGYo4WAdQ_KA=s1668-no" alt="dog with wire-rim glasses and chunky scarf">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
<div class="col-md-6">
          <div class="card mb-6 shadow-sm">
                 <img class="card-img-top" src="https://lh3.googleusercontent.com/XdDlEYzBw6FMIXKWBPnucB0wnJcqBHAAPOSbvIYSw285liNZz2_2As5SKWGA-HPBbD-erK9DxZHQjrXSOBFLEW7nBOeZTTPib4sp03AFDZhG59xjfb9hISxnuxTbk8asnNR00WgNIVEYAmkm9bRbwORiHZBZsR94elv1HF6AqSC1e8lpjsaEf8tcFK78O2KKQvGKeQXzODKDHg2QdvGXEa6W76TAfO9i8RQOEqd3cVjKwfPgTFEcfCtUkNQU6bVduoj1TXxBrNMVOb9hnp90l-aGVmmrVqiwORIv8RxCYnekzK8c8ldFM-kX5n8f7HS2tPmqnNQoTi5fpEOL7stGDPOPccpjs3XzzKBFIFA-rUgGdO1L_U4Znwe1T_Fq5Zs0pyDMiX2e1uUt82tqns_xXgOx0UbrVNuo2pSPJNBy_dxB9cwxtKf8xeJ09sMqDypI7aUHviMrq8F4-XVsJOXokyiEMia_cuV2fh0YZULmfTlH6ucAqe80HWeQSLQ5DFaXbGTNa1Sb9MbOd7h30BDe0GOQwArbWktqz3Nh5VZZkOmxkb6RyG7stzDOCbfSydUZGFWWyedjVk6U3aYJZxouxkPpXJNBMpxMbK5BCGmF0WRv3k2VaT1ZndZOZtCtAIlBtR8AcxwBzgUDRQ6CfqXKbpgxTtVRQHHmj_QXyNLwxgNGYo4WAdQ_KA=s1668-no" alt="dog with wire-rim glasses and chunky scarf">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>
</div>
