<% @order = Order.find_by(id: params[:id]) %>
<h2> Order Confirmation </h2>

<table class = "table">
  <thead>
    <tr>
      <th> Item </th>
      <th> Quantity </th>
      <th> Subtotal </th>
    </tr>
  </thead>
  <% total = 0 %>
  <% @order.orderproducts.each do |op| %>
  <tr>
    <td> <%= link_to op.product.name, product_path(op.product.id) %> </td>
    <td> <%= op.quantity %> </td>
    <td> $<%= op.product.price %> </td>
    <% total += op.product.price %>
  </tr>
  <% end %>
</table>

<h3> Order total: $<%= total %> </h3>
