<h3> Contents of Your Shopping Cart: </h3>

<ol>
<% items = Orderproducts.where(@order_id) %>
<% item.each do |item| %>
<li> <%= item.product.name %>
</li>
<% end %>
</ol>

<%= render partial: "form", locals: { verb_name: "Complete" } %>