<h3> Contents of Your Shopping Cart: </h3>

<ol>

<% @order.products.each do |product| %>
<li> <%= product.name %>
<br>
Change quantity: <%= %>
[make drop down box that reflects quantity available?]
</li>
<% end %>
</ol>

<%= button_to 'Checkout', edit_order_path %>
