<h3> Contents of Your Shopping Cart: </h3>

<ol>

<% @order.products.each do |product| %>
<li> <%= product.name %>
<br>
Change quantity:
<select>
<% x = 2%>
<% until x > product.stock %>
<option value=x> <%=x%> </option>
<% x += 1 %>
<%end%>
</select>
</li>
<% end %>
</ol>

<%= button_to 'Checkout', edit_order_path(@order), method: :get %>
<!--<a class="btn btn-primary" href=<%=edit_order_path(@order)%>> Checkout </a> -->
