<h1>Products</h1>
<% @products.each do |product| %>
  <%= link_to product.name, product_path(product.id)%>
  <a class="badge badge-pill badge-info" href="/homepages/cart/add_item">Add to Cart</a>
  <br>
<% end %>