
<div class="container">
  <h1 class="h2" align="center">All Costumes</h1>
  <div class="row" align="center">
    <% @products.sort_ascending.each do |product|%>
      <%= render partial: "products/product", locals: { product: product }%>
    <% end %>
  </div>
</div>

