<%= @product.name%>
<a class="badge badge-pill badge-info" href="/cart/:id">Add to Cart</a>

<a class="badge badge-pill badge-info" href="/products/<%= @product.id %>/reviews/new">Write a Review</a>

<h2>Reviews</h2>
<% @product.reviews.sort_descending.each do |review|%>
<p> Rating: <%= review.rating%> </p>
<p> Review: <%= review.text%> </p>
<hr>
<% end%>